<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>留言板</h1>
    <form action="/pinglun" method="get">
        <input type="text" name="name" id="" placeholder="请输入的名字">
        <br>
        <input type="text" name="say" id="" placeholder="请输入留言内容">
        <br>
        <!-- <input type="button" type="submit" value="提交"> -->
        <button type="submit">发表</button>
    </form>
</body>

</html>